.bookList {
	width: 80%;
	margin: auto;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	/* border: 1px solid red; */
}
.bookLists {
	padding-top: 20px;
}
.card-folder {
	padding: 1rem;
	width: 33%;
}
.cardContent {
	border: 1px solid gray;
}
.card-body {
	background: white !important;
}
/* Smaller screen + Mobile 
  */

@media screen and (max-width: 992px) {
	.bookList {
		width: 100%;
		margin: auto;
	}
	.card-folder {
		width: 100%;
	}
}
