body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: black !important;
	font-family: 'Argentum Sans';
	/* 	background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
	overflow-x: hidden !important;

	overflow-y: visible !important;
}

.main {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}
/* 'mozer', "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif */
